@import "variables";

.jumbotron {
	margin-bottom: 2em;

	& > * {
		flex-basis: 50%;
		flex-grow: 0;
		flex-shrink: 0;
	}

	.sup {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: x-large;
	}
}

#promoted {
	.book-cover {
		width: 100%;
		max-width: 150px;
	}
}

#call-to-action {
	.cta {
		background-color: $ab-black;
		color: $ab-white;
		padding: $spacing-md;
		margin-bottom: $spacing-md;

		& > *:last-child {
			margin-bottom: 0;
		}
	}
}