$app-layout-border: 2px solid black;
$app-bg-color: #f5f7f9;

// responsive utilities
// $screen-sm-min: 576px;
// $screen-md-min: 768px;
$screen-lg-min: 992px;
// $screen-xl-min: 1200px;

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

body {
  background-color: $app-bg-color;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
}

hr {
  margin: 2em 0;
}

h1{
  margin: 1.5em 0 .5em;
}

h3 {
  font-size: 1.45em;
}

.app-text-strong {
  font-weight: bold;
}

.app-center-wrapper {
  max-width: 960px;
  margin: 0 auto;
}

#app-site-main {
  margin: 2em 0;
}

#app-site-header {
  border-bottom: $app-layout-border;
}

#app-site-footer {
  border-top: $app-layout-border;
  text-align: center;
}

#app-site-header,
#app-site-footer {
  padding: 1em 0;
}


// @use 'home.scss'; when add a new page
.page-header {
  text-align: center;
}

.page-heading {
  font-size: 44px;
}

.page-tagline {
  font-size: 22px;
}

.partner-card {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 1em;
  margin-bottom: 2em;

  @include lg {
    flex-direction: row;
  }

  .text-container {
    @include lg {
      width: 75%;
      margin-right: 2em;
    }
  }

  .image-container {
    @include lg {
      width: 25%;
    }
  }

  .image-container img {
    display: block;
    width: 75%;
    margin: auto;

    @include lg {
      width: 100%;
    }
  }

  .meta {
    font-size: .8em;
    line-height: .8;
  }

  .services-list {
    line-height: 1.2;
    margin-bottom: 0;

    @include lg {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
  }

  .services-list li:not(:last-of-type) {
    margin-bottom: .5em;
  }
}