// Colors
$ab-black: #222;
$ab-white: #fff;
$ab-gray: #ababab;
$lp-red: #ff6161;

$app-bg-color: $ab-black;
$main-bg-color: $ab-white;
$primary-text-color: $ab-black;
$primary-btn-bg: $ab-white;

// responsive utilities
// $screen-sm-min: 576px;
// $screen-md-min: 768px;
$screen-lg-min: 992px;
// $screen-xl-min: 1200px;